
body {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: self-start;*/
    /*flex-flow: row wrap;*/
}

.row {
    position: relative;
    width: 15vw;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    display: block;
    margin: 0 15px 3vw 15px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #a8a8a8;
    text-align: center;
}

button#more {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100px;
    height: 20px;
    margin: 0 auto;
}

.container-img {
    width: 250px;
    height: 150px;
    margin: 0 auto;
}

img.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

img.image-view {
    width: 300px;
}

.container-image{
    margin-right: 50px;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f8f8;
}

.info {
    flex: auto;
}

.info ul{
    margin: 0;
}

.info ul li{
    padding: 10px 0;
}

button.url-check {
    width: 100%;
    padding: 10px 50px;
    cursor: pointer;
}

th.sorting:before,
table.dataTable thead > tr > th.sorting_desc:before,
th.sorting:after,
table.dataTable thead > tr > th.sorting_desc:after {
    content: '' !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

td.sorting_1 {
    background-color: #e8f0fe !important;
}

div#table_length {
    padding-top: 10px;
}

form.validate {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

form.validate input,
textarea,
input[type="search"] {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    transition: all .3s;
}

form.validate input:focus,
input[type="search"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #4d90f0;
}

form.validate input:focus::-moz-placeholder,
input[type="search"]:focus::-moz-placeholder {
    color: transparent;
}

form.validate input:focus::-webkit-input-placeholder,
input[type="search"]:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea {
    height: auto;
}

button.submit {
    outline: none;
    width: 100%;
    height: 35px;
    cursor: pointer;
    background-color: #e8f0fe;
    border: 1px solid #c5ccd9;
    border-radius: 3px;
    font: 400 16px/20px "Roboto";
    transition: all .3s;
}

button.submit:hover {
    color: #fff;
}

button.submit:focus {
    background-color: #bec4cf;
}

label.error,
.error{
    padding-bottom: 10px;
    color: red;
}

input#myfile {
    border: none;
}

.footer {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

@media screen and (max-width: 1170px) {
    .row {
        width: 40vw;
    }
}

@media screen and (max-width: 767px) {
    .row {
        width: 90vw;
    }
}